<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo DB</title>
</head>
<body>
    <h1>Liste des messages</h1>
    <a href="/message-add">Ajouter un message</a>
    <ul>
        <% messages.forEach(msg => { %>
            <li>
                [<%=msg.createDate.toLocaleString('fr-be')%>] <%=msg.pseudo%> : <%=msg.content%>
            </li>
        <% }) %>
    </ul>
</body>
</html>