<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo DB</title>
</head>
<body>
    <h1>Ajouter un message</h1>
    <form method="post">
        <div>
            <label for="pseudo">Pseudo : </label>
            <input type="text" name="pseudo" id="pseudo" required>
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="content">Message : </label>
            <textarea name="content" id="content"></textarea>
        </div>
        <div>
            <button type="submit">Envoyer</button>
        </div>
    </form>
</body>
</html>